/*    by Chtiwi Malek      */
/* http://www.codicode.com */
body{
  overflow:hidden;
  background-color:#565279;
}
#myCanvas
{
  background-color:#565279;
}

canvas
{
  background-color:#565279;
}
.controls
{
  position:absolute;
  top:0px;
  left:0px;
  background-color:#2277dd;
  padding:5px;
  margin:2px;
  color:#fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
