body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #565279;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}
.ui-state-default {
	background-color: #DADADA;
}
